body{
    background-color: rgb(84, 162, 6);
    color: rgb(240, 193, 134);
}

h1{
    border: 2px solid wheat;
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}

div{
    border: 3px solid rgb(198, 24, 24);
    height: 300px;
    width: 100px;
    margin-left: 40%;
    background-color: rgb(24, 26, 25);
}

.inner{
    height: 50px;
    width: 50px;
    margin: 30px 10px 10px 20px;
    background-color: black;
    border-radius: 50%;
    color: black;
    text-align: center;
}

.inner:hover{
    background-color: rgb(240, 237, 243);
}